#navbar a {
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 5px whitesmoke;
    display: flex;
}

#navbar a:hover {
    text-shadow: 0px 0px 10px whitesmoke;
}

#navbar li a:hover {
    text-decoration: underline;
}

#navbara:link,
a:visited {
    color: black;
}

#navbar #taskbar {
    list-style: none;
    display: flex;
    gap: 1em;
    justify-content: end;
    margin: 1em 2em 0 0;
    font-weight: bold;
    font-size: larger;
}

#navbar #header {
    display: flex;
}

#navbar #header img {
    max-width: 10em;
    align-self: center;

}

#navbar #header-text {
    color: black;
    max-width: 100px;
    text-align: start;
    align-self: center;
}

#navbar #header>ul {
    margin-left: auto;
    margin-top: 2em;
}

@media screen and (max-width: 600px) {
    #navbar #taskbar {
        justify-content: center;
    }

    #navbar #header {
        flex-direction: column;
        align-items: center;
    }

    #navbar #header-text {
        text-align: center;
    }

    #navbar #header>ul {
        margin: auto;
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    #navbar #header-text {
        text-align: start;
    }
}