.section section {
    padding: 2em 0;
}

.section .gallery img {
    max-width: 400px;
    background-color: whitesmoke;
    padding: .5em;
    border-radius: 8px;
    margin: 1em;
}

.section .gallery video {
    max-width: 400px;
    background-color: whitesmoke;
    padding: .5em;
    border-radius: 8px;
    margin: 1em;
}

.section .text {
    max-width: 80vw;
    margin: 1em auto;
    justify-content: center;
    text-align: center;
    background-color: rgba(245, 245, 245, .8);
    border-radius: 8px;
    width: fit-content;
    padding: 1em;
}