#JUN1924 {
    height: 100%;
    background-image: url("../../assets/JUN24/19JUN24/IMG_6916.JPG");
    background-size: auto 100%;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}