#JUN1924 {
    height: 100%;
    background-image: url("../../assets/JUN24/19JUN24/IMG_6916.JPG");
    background-size: 100% 100%;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

#JUN1924 section {
    padding: 2em 0;
}

#JUN1924 .text {
    max-width: 80vw;
    margin: 1em auto;
    justify-content: center;
    text-align: center;
    background-color: rgba(245, 245, 245, .8);
    border-radius: 8px;
    width: fit-content;
    padding: 1em;
}

#JUN1924 #viewGallery img {
    max-width: 400px;
    background-color: whitesmoke;
    padding: .5em;
    border-radius: 8px;
    margin: 1em;
}

#JUN1924 video {
    max-width: 400px;
    background-color: whitesmoke;
    padding: .5em;
    border-radius: 8px;
    margin: 0;
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}