#home {
    background-image: url(./assets/cork.jpg);
    background-size: contain;
}

#home .card-tile-list {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    #home .card-tile-list {
        gap: 1em;
    }

}